
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  font-size: 230%;
  font-weight: bold;
}

main {
  font-size: px;
  margin: 20px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.tenant-container > #tenant-card {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  gap: 20px;
}

