.container {
  height: 100%;
  display: flex;
  padding: 28px 21px;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

main.container {
  width: 100%;
  margin: 0;
  overflow-y: hidden;
  scrollbar-width: none;
}

.container {
  margin: 0;
}

.container input,
textarea,
select,
button {
  width: 100%;
  padding: 14px;
  font-size: 14px;
  resize: vertical;
  border-radius: 5px;
  margin: 7px 0px 14px 0px;
  border: 1px solid black;
  font-family: canada-type-gibson, sans-serif;
}

.container textarea {
  min-height: 50px;
}

.container label {
  font-weight: 600;
}

.container button {
  color: blue;
  font-weight: 600;
  margin: 21px 0px 0px 0px;
  background: lightblue;
}

h4 {
  text-align: center;
}