.container {
  align-items: center;
  margin: 0;
  margin-top: 70px;
  width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  scroll-behavior: auto;
  padding: 100px;
}

.container > .formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.formContainer {
  width: 600px;
  height: 700px;
}

.container > .tenantContainer {
  display: flex;
  width: 600px;
  height: 700px;
  margin-bottom: 200px;
}

.tenantListContainer {
  align-items: center;
  padding: 10px;
}

.tenant {
  display: flex;
  flex-direction: column;
  width: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.removeTenantBtn {
  width: 40px;
}



.container section:first-child {
  background-color: #fdfeff;
}

.container input {
  margin: 7px 0px 14px 0px;
}

.container input, button { 
  width: 100%;
  padding: 14px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

.container div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tenantContainer {
  justify-content: flex-end;
}

.container label {
  font-weight: 600;
  margin: 7px 0px 14px 0px;
}

.container button {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 600;
  background: var(--primary);
}

.container button:hover {
  font-weight: bold;
  height: 43px;
}


input:focus {
  outline: none;
  border: 1px solid black;
}

.buttonSection > div {
  display: flex;
  justify-content: center;
  align-items: center;
}


.container > .inputContainer {
  display: flex;
}

.container > .goBackContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label, .button {
  margin-right: 0.5rem;
}
