.container>form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

form>div {
  display: flex;
  width: 50%;
}

form>textarea:focus {
  border: 1px lightgrey;
}

#text-area:focus {
  border: 1px solid lightgrey;
}