.a-container {
  border: 1px solid black;
  height: 150px;
  padding: 7.5px 10px;
  margin: 10px;
  background-image: url('../../../public/noteCard.jpg');
}

.work-container {
  display: grid;
  grid-template-columns: repeat(3, 450px);
  margin: 10px;
}

p {
  margin: 0;
  color: black;
}

.a-container:hover {
  background-color: lightgrey;
}