.card-container {
  margin: 0;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  box-shadow: 1px 10px 20px -1px rgba(32, 32, 32, 0.25);
  background-color: var(--primary);
}

.card-container:hover {
  border: 3px solid black;
  font-size: 20px;
}

img {
  height: 220px;
  width: 300px;
  border-bottom: 2px solid black;
}

.add-work-r-Link {
  height: 40px;
  font-display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add-work-r-Link > a {
  color: black;
  font-size: 20px;
}

.add-work-r-Link > a:hover {
  color: white;
  font-weight: bold;
}

