.listing-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container {
  display: grid;
  grid-template-columns: 250px 250px 250px;
}

.class-div {
  text-align: center;
  border: 1px solid black;
  width: 145px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px;
  margin: 1rem;
  color: white;
}