.listing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

img {
  max-height: 300px;
  max-width: 300px;
}

.class-div {
  text-align: center;
  width: 145px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px;
  margin: 1rem;
  color: white;
}

h1 {
  text-align: center;
}

.header {
  font-size: 230%;
}