html,
body {
  margin: 0;
  box-sizing: border-box;
}

li  {
  width: 150px;
  list-style: none;
}

li > a {

}

a {
  text-decoration: none;
  width: 100px;
}

.nav-bar {
  margin: 0;
  height: 60px;
  background: var(--primary);
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 80px;
}

.btn-account {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  
}

.btn-account > button {
  padding: 10px;
  
  
}


.nav-bar > li {
  padding: 0 20px;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 17px;
}

.bm-burger-bars {
  overflow: auto;
  background: white;
}

.bm-cross-button {
  position: fixed;
  margin-right: 55px;
  height: 24px;
  width: 24px;
}

.bm-cross {
  color: #373a47;
}

.bm-menu {
  width: 80%;
  display: flex;
  flex-direction: column;
  background: #373a47;
  padding: 10px 0;
  font-size: 1.15em;
}


.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

#logout {
  display: flex;
  text-align: end;
  justify-content: right;
}

nav.bm-item-list{
  background-color: rgb(255, 255, 255);
}