html,
body {
  margin: 0;
  box-sizing: border-box;
}

li  {
  padding: 10px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

a {
  margin: 0;
  height: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  width: 100px;
}

.non-login:hover {
  color: white;
  font-weight: bolder;
}

.non-login {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  width: 150px;
  color: #E8EEE7;
}

.nav-bar {
  position: relative;
  margin: 0;
  height: 60px;
  background: var(--primary);
  display: flex;
  align-items: center;
  padding-left: 60px;
  border-bottom: 1px solid black;
}

.nav-bar > li {
  width: 150px;
}

.btn-account {
  padding: 15px;
  height: 50px;
  width: 65%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

button {
  color: var(--primary);
  font-weight: bold;
  display: flex;
  font-size: 15px;
  height: 42px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

button:hover {
  height: 43px;
  border: 2px solid black;
  
}


.nav-bar > li {
  padding: 0 20px;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 10px;
}

.bm-burger-bars {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  
  }


.bm-cross-button {
  margin-right: 55px;
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: var(--primary);
} 

.bm-menu {
  width: 80%;
  display: flex;
  flex-direction: column;
  background: var(--primary);
  padding: 10px 0;
  font-size: 1.15em;
}


.bm-morph-shape {
  fill: white;
}

.bm-item-list {
  width: 100%;
  background-color: var(--primary);
  
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

#logout {
  display: flex;
  text-align: end;
  justify-content: right;
}

nav.bm-item-list{
  background-color: var(--primary);
  border-right: 1px solid black;
}

.ham-bar-item {
  font-size: 20px;
  width: 100%;
  color: white;
}

.ham-bar-item:hover {
  
  font-weight: bold;
  color:white
}