header {
  height: 10px;
  display: flex;
  justify-content: flex-end;
}

.container {
  align-items: center;
  margin: 20px;
  background-color: var(--primary);
  display: flex;
  width: 100%;
  min-height: 300px;
  max-height: 400px;
  border: 4px solid black;
  border-radius: 10% 0% 10% 0%;
  gap: 20px;
}


span {
  color: black;
  padding-top: 5px;
  padding-right: 15px;
  font-weight: bold;
}

span:hover {
  color: red;
  font-weight: bolder;
}

.container:hover {
  border: 6px solid black;
  font-size: 25px;

}



li {
  color: white;
  font-weight: bold;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  line-height: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-align-last: left;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}