header {
  height: 10px;
  display: flex;
  justify-content: flex-end;
}

main {
  height: 100%;
}



.container{
  background-color: var(--primary);
  display: flex;
  min-height: 300px;
  max-width: 400px;
  border: 4px solid black;
  border-radius: 10% 0% 10% 0%;
  flex-wrap: wrap;
}

article {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

span {
  color: black;
  padding-top: 5px;
  padding-right: 15px;
  font-weight: bold;
}

span:hover {
  color: red;
  font-weight: bolder;
}

.container:hover {
  border: 6px solid black;
  font-size: 25px;

}



li {
  color: white;
  font-weight: bold;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  line-height: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-align-last: left;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}