header {
  display: flex;
  justify-content: flex-end;
}

.container{
  border: 4px solid #4CC9F0;
  border-radius: 10% 0% 10% 0%;
  flex-wrap: wrap;
}

article {
  margin-bottom: 10px;
}

span {
  padding-top: 15px;
  padding-right: 15px;
  font-weight: bold;
}



li {
  color: black;
  font-weight: bold;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  line-height: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-align-last: left;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}